body > div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 95%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
}

body > div > * {
    height: 64px;
    text-align: center;
    background: transparent;
    color: #fff;
    outline: none;
    border-top: none;
    border-bottom: none;
}

body > div > *:not(:first-child):not(:last-child) {
    border-right: 2px solid #207dff;
    border-left: 2px solid #207dff;
}

body > div > *:first-child {
    border-top: 2px solid #207dff;
    border-right: 2px solid #207dff;
    border-left: 2px solid #207dff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

body > div > *:last-child {
    border-bottom: 2px solid #207dff;
    border-right: 2px solid #207dff;
    border-left: 2px solid #207dff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

body > div > button {
    border-top: 2px solid #207dff;
    cursor: pointer;
}