body {
    padding: 8px;
}

.Topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 98.75%;
    height: 16px;

    margin: 8px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 8px;
}

.ModList {
    position: relative;
    top: 16px;
    width: 100%;
    height: 100%;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    display: flex;
    flex-direction: column;

    overflow-x: hidden;
    overflow-y: auto;
}

.ModList > div {
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    background-color: rgb(40, 40, 40);
    width: 100%;
    height: 32px;
}

.ModList > div > span:last-child {
    position: absolute;
    right: 0;
}

.ModList > div > *:first-child {
    margin-left: 16px;
}

.ModList > div > *:last-child {
    margin-right: 16px;
}

.ModList > div > *:not(:first-child):not(:last-child) {
    position: relative;
    left: 2px;
}

.ModList > div > .ButtonContainer {
    position: absolute !important;
    left: 16em !important;

    display: flex;
    flex-direction: row;
    gap: 4px;
}

.ModList > div > .ButtonContainer > * {
    border-radius: 4px;
    padding: 4px;
    min-width: 11em;

    box-sizing: border-box;
    border: none;
    outline: none;

    border: 2px solid rgba(32, 125, 255, 0.25);
    background-color: rgba(32, 125, 255, 0.25);
    color: rgba(255, 255, 255, 0.75);

    transition: all 0.25s ease;
}

.ModList > div > .ButtonContainer > *:hover {
    background: rgba(32, 125, 255, 0.125);
    border: 2px solid #207dff;
    color: rgb(255, 255, 255);
}

.UploadPrompt {
    display: none;
    flex-direction: column;

    position: absolute;
    left: 50%;
    top: 50%;
    width: 90%;
    padding: 24px;
    transform: translate(-50%, -50%);

    border-radius: 8px;

    background-color: rgb(60, 60, 60);
}

.UploadPrompt > input {
    text-align: center;
}

.UploadPrompt > * {
    border: none;
    outline: none;
}

.UploadPrompt > *:not(textarea) {
    height: 48px;
}

.UploadPrompt > *:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.UploadPrompt > *:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.UploadPrompt > textarea {
    resize: none;
    min-height: 96px;
}

.UploadPrompt > close {
    position: absolute;
    right: 12px;
    top: 8px;
    cursor: pointer;
}