@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("./format.css");

body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: "TptFont";
    overflow: hidden;

    user-select: none !important;
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
}

* {
    font-family: "TptFont";
}

button {
    cursor: pointer;
}

hr {
    width: 100%;
}

.Notifications {
    display: flex;
    flex-direction: column;
    gap: 8px;

    position: absolute;
    right: 3.75em;
    top: 1em;

    width: 50%;
    height: 50%;
}

.Notifications * {
    font-family: "Space Mono", monospace !important;
    padding: 0 !important;
}

.Notifications > div {
    position: relative;

    width: 100%;
    height: 4em;

    background-color: rgba(255, 255, 255, 0.175);

    box-sizing: border-box;
    border: 2px solid rgba(255, 255, 255, 0.125);
    border-radius: 8px;

    transition: all 0.25s ease;

    z-index: 4;
}

.Notifications > div > * {
    margin-left: 8px;
}

.Notifications > div > *:first-child {
    margin-top: 4px;
}

.Notifications > div > time {
    float: right;
    margin-top: 8px;
    margin-right: 8px;
}

.Notifications > div > button {
    position: absolute;
    right: 0;
    top: 0;

    margin: 8px !important;

    font-family: "TptFont" !important;
    font-size: 18px;

    background: transparent;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);

    cursor: pointer;
}

@font-face {
    font-family: "TptFont";
    src: url("../../fonts/TptFont.ttf");
}

@font-face {
    font-family: "CambriaMath";
    src: url("../../fonts/CambriaMath.ttf");
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.25);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}