.Console {
    display: none;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;

    z-index: 6;

    background-color: rgba(80, 80, 80, 0.25);
    box-sizing: border-box;
    border-bottom: 2px solid rgba(80, 80, 80, 0.5);
}

.Console > .Output {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 96vh;

    display: flex;
    flex-direction: column;
}

.Console > .Output > div {
    padding-left: 1vw;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: rgba(120, 120, 120, 0.25);
}

.Console > .Output > div:first-child {
    margin-top: 6vh;
}

.Console > input {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4vh;

    padding-left: 1vw;

    outline: none;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgba(80, 80, 80, 0.25);

    font-family: "TptFont";
}

.PlaceholderContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 92.5%;
    pointer-events: none;
}

.DisplayParticleContainer {
    pointer-events: none;
}

.ParticleContainer, .DisplayParticleContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 92.5%;
    z-index: 1;
}

.Ambient {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 11px;
}

.Ambient > div {
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ParticleContainer > div,
.DisplayParticleContainer div {
    position: absolute;
}

.DisplayParticleContainer {
    height: 100%;
    z-index: -3;
    background:
        linear-gradient(-90deg, rgba(255, 255, 255, .075) 1px, transparent 1px),
        linear-gradient(rgba(255, 255, 255, .075) 1px, transparent 1px), 
        linear-gradient(-90deg, rgba(255, 255, 255, .04) 1px, transparent 1px),
        linear-gradient(rgba(255, 255, 255, .04) 1px, transparent 1px),
        linear-gradient(transparent 3px, #000000 3px, #000000 78px, transparent 78px),
        linear-gradient(-90deg, #555 1px, transparent 1px),
        linear-gradient(-90deg, transparent 3px, #000000 3px, #000000 78px, transparent 78px),
        linear-gradient(#555 1px, transparent 1px),
        #000000;
    background-size:
        4px 4px,
        4px 4px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px;
}

.ParticleContainer > div[ismolten="true"] {
    background-color: var(--molten-color) !important;
    box-shadow: 0px 0px 75px 5px var(--molten-color);
    filter: brightness(2.5);
}

.Hud {
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}

.Hud > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    pointer-events: none;
}

.Hud > .SimulationStats {
    margin: 8px;
    gap: 1vw;
}

.Hud > .CursorStats {
    position: absolute;
    bottom: 0;

    margin: 8px;
    gap: 1vw;
}

.Hud > .SimulationStats > div:not([divider]):last-child {
    color: rgb(137, 163, 218);
    font-size: 18px;
}

.Hud > .SimulationStats > div:not([divider]):not(:last-child):not(:first-child) {
    min-width: 2vw;
    transition: color 0.25s ease;
}

.Elements > .TypeList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;

    z-index: 3;

    position: absolute;
    right: 8px;
    margin-top: 3vh;
    height: 92vh;
    width: 32px;
}

.Elements > .TypeList > div {
    position: relative;

    background-color: black;
    border: 2px solid white;
    width: 100%;
    height: 32px;

    box-sizing: border-box;

    text-align: center;
    align-content: center;
    justify-content: center;

    cursor: pointer;
}

.Elements > .TypeList > div:hover {
    background-color: white;
}

.Elements > .TypeList > div:hover span {
    opacity: 1;
}

.Elements > .TypeList > div:hover img {
    filter: invert(100%) brightness(0%);
}

.Elements > .TypeList > div > span {
    position: absolute;
    left: -128px;
    text-align: right;

    opacity: 0;

    pointer-events: none;

    transition: opacity 0.25s ease;
}

.Elements > .TypeList > div > img {
    height: 75%;
}

.Elements > .Selector {
    display: flex;
    flex-direction: row-reverse;

    z-index: 3;

    position: absolute;
    left: 50%;
    bottom: 8px;
    width: 90%;
    height: 6vh;
    transform: translateX(-50%);
}

.Elements > .Selector > div {
    position: absolute;
    height: 100%;

    display: none;
    opacity: 0;
    flex-direction: row-reverse;
    gap: 4px;

    transition: opacity 0.25s ease;
}

.Elements > .Selector > div > div {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 72px;
    height: 100%;
    font-size: 14px;

    background-color: white;
    color: black;

    text-align: center;
    align-content: center;

    cursor: pointer;

    transition: all 0.25s ease;
}

.Elements > .Selector > div > div > img {
    pointer-events: none;
    width: 30%;
}

.Elements > .Selector > div > div:hover {
    padding-left: 8px;
    padding-right: 8px;
}

.Elements > .SimulationSettingsList {
    display: flex;
    flex-direction: column;
    gap: 4px;

    z-index: 4;

    position: absolute;
    right: 8px;
    height: auto;
    width: 32px;
}

.Elements > .SimulationSettingsList > div {
    position: relative;

    background-color: black;
    border: 2px solid white;
    width: 100%;
    height: 32px;

    box-sizing: border-box;

    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
    align-content: center;

    cursor: pointer;
}

.Elements > .SimulationSettingsList > div:hover {
    background-color: white;
    color: black;
}

.Elements > .SimulationSettingsList > div:hover span {
    color: white;
    opacity: 1;
}

.Elements > .SimulationSettingsList > div span {
    position: absolute;
    left: -384px;

    pointer-events: none;

    text-align: left;
    text-wrap: nowrap;

    opacity: 0;

    transition: opacity 0.25s ease;
}

.Cursor {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.25);

    pointer-events: none;

    border-radius: 100%;

    transform: translate(-50%, -50%);

    aspect-ratio: 1 / 1;

    transition: opacity 0.25s ease;
}

.MEGC > div {
    position: absolute;
    top: 32px;
    left: -516px;

    opacity: 0;
    pointer-events: none;

    display: flex;
    flex-direction: row;
    gap: 4px;

    transition: opacity 0.25s ease;
}

.MEGC input:not(:first-child) {
    width: 32px;
    text-align: center;
}

.Band {
    z-index: -2;

    position: fixed;
    top: 8px;
    left: 50%;
    transform: translateX(50%);
    width: 100%;
    height: 4vh;

    text-wrap: nowrap;

    animation: Slide 16s linear infinite;
}

.PartStats {
    position: absolute;
    right: 5%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;

    transition: opacity 0.25s ease;
}

.PartStats > * {
    margin-left: 8px;
}

.PartStats > .Color {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
}

.ModsManager {
    display: none;

    z-index: 6;

    position: absolute;
    left: 50%;
    top: 50%;
    width: 95%;
    height: 80%;
    transform: translate(-50%, -50%);

    background-color: rgb(50, 50, 50);
}

.ModsManager > .Topbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 24px;

    background-color: rgb(60, 60, 60);
}

.ModsManager > .Topbar > .ModsCloseButton {
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: rgb(120, 60, 60);
}

.ModsManager > .Topbar > .ModsCloseButton:hover {
    background-color: rgb(220, 60, 60);
}

.ModsManager > .Mods {
    position: absolute;
    width: 97.5%;
    height: 90%;
    left: 50%;
    top: 52.5%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 22px;

    overflow-x: hidden;
    overflow-y: auto;
}

.ModsManager > .Mods > div {
    height: 82px;
    aspect-ratio: 5 / 1;

    padding: 12px;

    background-color: rgb(65, 65, 65);
}

.ModsManager > .Mods > div:has(icon) {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.ModsManager > .Mods > div:has(icon):hover {
    background-color: rgb(80, 80, 80);
}

.ModsManager > .Mods > div > icon {
    font-size: 64px;
}

.ModsManager > .Mods > div > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ModsManager > .Mods > div > div > * {
    min-width: 75%;
}

.ModsManager > .Mods > div > div button {
    cursor: pointer;
}

.DisplayLabel {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    pointer-events: none;
    z-index: 8;

    font-size: 24px;
    opacity: 0;
    transition: opacity 0.25s ease;
}

@media screen and (max-width: 768px) {
    .Cursor {
        display: none;
    }
}

@keyframes Slide {
    0% {
        transform: translateX(-150%);
    }
    100% {
        transform: translateX(50%);
    }
}